<?php
   if ($_POST['LEVEL'] == 'user-add' && $_SESSION['role'] == 'Admin' && !isset($_POST['crud'])) {
      printf('<h2 class="form-Title">%s</h2>', TXTmenuadduser);
$template = '
<div class="user-add central-fr-up">
    <form>
        <hr>
        <strong>Nombre de usuario:</strong><input id="username" maxlength="20" minlength="5"
                                                  name="username"
                                                  placeholder="Nombre de usuario" required type="text">
        <strong>Contraseña:</strong> <input id="password" maxlength="40" minlength="6" name="hidentext"
                                            placeholder="contrasena" required type="password">
        <hr>
        <strong>Nombre completo:</strong> <input id="fullname" maxlength="80" minlength="5"
                                                 name="fullname" placeholder="Nombre o denominacion" required
                                                 size="78"
                                                 type="text">
        <strong>RFC:</strong> <input id="rfc" maxlength="16" minlength="10" name="rfc" placeholder="RFC" required
                                     size="16" type="text"> <br>
        <hr>
        <strong>Calle y número:</strong> <input id="addresslocal" maxlength="78" minlength="5"
                                                name="address_street" placeholder="Calle y Numero" required size="78"
                                                type="text"><br>
        <input id="zip" max="99999" min="1000" name="zipzone" oninput="LoadZip(this.value);" placeholder="C.P."
               type="number"/>
        <section id="displayZip"><select id="ZipList" name="idaddress" size="1"></select></section>

        <input id="branch" max="9321" min="1111" oninput="LoadBranch(this.value);" placeholder="Rama de Producccion"
               type="number"/>
        <section id="displayBranch"><select id="BranchList" name="branch" size="1"></select></section>

        <input id="companytype" max="3" min="1" placeholder="Tamaño" type="number"/>
        <select id="companytypeList" name="companytype" size="1">
            <option value="1">Micro</option>
            <option value="2">Mediana</option>
            <option value="3">Grande</option>
        </select>
        <strong>Telefono:</strong><input id="phone" maxlength="13" minlength="10" name="phone" placeholder="Telefono"
                                         required type="tel"> <br>
        <strong>Correo:</strong><input id="mail" minlength="5" name="mail" placeholder="Correo" required size="25"
                                       type="email"><br>
        <strong>Clasificacion:</strong>
        <select name="CLASIFICACION" required>
            <option value="1">Micro</option>
            <option value="2">Mediana</option>
            <option value="3">Grande</option>
        </select>
        <hr>
        <div>
            <input class="button  add" type="submit" value="Agregar">
            <input name="LEVEL" type="hidden" value="user-add">
            <input name="crud" type="hidden" value="add">
        </div>


    </form>
</div>
<br>
<hr>


';
printf($template);

} else if ($_POST['LEVEL'] == 'user-add' && $_SESSION['role'] == 'Admin' && $_POST['crud'] == 'add') {
$users_controller = new UsersController();
//INSERT INTO `USERS` (`idusuario`, `username`, ``, `address_street`,
// `phone`, `mail`, `fullname`, `rfc`, `idaddress`, `rol`, `branch`, `companytype`, `status`)
$new_user = array(
'username' => $_POST['username'],
'hidentext' => $_POST['hidentext'],
'fullname' => $_POST['fullname'],
'rfc' => $_POST['rfc'],
'address_street' => $_POST['address_street'],
'phone' => $_POST['phone'],
'mail' => $_POST['mail'],
'idaddress' => $_POST['idaddress'],
'branch' => $_POST['branch'],
'companytype' => $_POST['companytype']
);

var_dump($new_user);
exit();
$user = $users_controller->add($new_user);

$template = '
<div>
    <p class="item  add">Usuario <b>%s</b> salvado</p>
</div>
<script>
    window.onload = function () {
        reloadPage("users")
    }
</script>


';

printf($template, $_POST['USER']);
} else {
$controller = new ViewController();
$controller->load_view('error401');
}
echo '
<script src="./public/js/validates.js"></script>';
echo '
<script src="./public/js/findzip.js"></script>';
echo '
<script src="./public/js/findbranch.js"></script>';


