
:root {
    /*variables de color del tema*/
    --main-bg-color: #49838c;
    --btn-add-color: #aacc60;
    --btn-edit-color: #a8bc90;
    --btn-delete-color: #cb4d4d;
    --main-bg-ligth: #87aed9;
    --title-color: #28626b;
    --exalted-color: #aacc60;
    --exalted-gradient-color: #a8bc90;
    --striking-color: #fdb62f;
    --dark-color: #2a414e;
    --ligth-color: #b9bfcc;
    --darkest-color: #111;
    --error-color: #cb4d4d;

}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

html, body {

    background: url("../img/white-keyboard.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;


}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
}

title {
    text-align: center;
    font-size: 2em;
}

label {
    font-size: 1em;
}


input {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"] {
    width: 100%;
    margin: 1%;
    padding: 5px;
    border: 1px solid var(--darkest-color);

}

input[type="time"] {
    width: 100px;
    margin-bottom: 0;
    display: inline-block;
}

input[type="checkbox"] {
    font-size: 1vmax;
    margin-top: 13px;
    margin-left: 2px;
    float: left;
}

input[type="checkbox"] + label {
    margin-top: 12px;
    margin-left: 7px;
    cursor: pointer;
    display: inline;
    float: left;
}

input[type="submit"] {
    font-size: 1em;
    outline: none;
    border: 1px solid var(--darkest-color);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--striking-color);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

input[type="submit"]:active {
    background-color: var(--exalted-gradient-color);

}

input:valid,
textarea:valid {
    color: var(--darkest-color);
}

input:invalid,
textarea:invalid {
    color: var(--error-color);
}

ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 5px 20px;
    display: block;
    font-size: 1.6em;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
}


table {
    font-size: 1.4em;
    line-height: normal;
    width: 100%;
}

th {
    width: auto;
}

th, td {
    padding: 10px;
    border: 1px solid var(--darkest-color);
}


@media screen and (max-width: 800px) {
    table.table-list thead, th {
        border: none;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;

    }

    table.table-list tr {
        border-bottom: 3px solid;
    }

    table.table-list td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 3vmax;
        text-align: right;
        padding: 10px;
    }

    table.table-list td:before {
        float: left;
        color: #273b47;
        font-weight: bold;
        font-size: 1.5vmax;
        padding: 1px 5px;
    }

    table.table-list td:last-child {
        text-align: center;
    }

    img {
        width: 50%;
    }
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

.ulproduct {
    border: 5px solid var(--darkest-color);
    background: var(--main-bg-ligth);
    padding: 20px;
}

ulproduct li {

    padding: 5px;
}

.dateHour {
    position: absolute;
    font-size: 1.5em;
    color: var(--ligth-color);

}

.salute {
    position: absolute;
    margin-top: 25px;
    font-size: 1.5em;
    color: var(--ligth-color);

}

.form-box {
    border-radius: 10px;
    width: 60vmax;
    margin-left: 20vmax;
    margin-right: 20vmax;
    margin-top: 1vmax;
    border: 2px solid var(--darkest-color);
    text-align: center;
    background-color: var(--dark-color);


}

.center-box {
    border-radius: 5px;
    width: auto;
    margin-top: 1vmax;
    border: 2px solid var(--dark-color);
    text-align: center;
    background-color: var(--main-bg-ligth);
}

.form-Title {
    text-align: center;
    font-size: 1.5vmax;
}

.ligth-text {
    color: var(--ligth-color);
}

.menus {
    font-size: 2vmin;
    background: var(--dark-color);
    border-bottom: 1px solid var(--darkest-color);
    position: relative;

}

.header-btn {
    display: flex;
    justify-content: center;

}

.header-btn a {
    border-left: 1px solid var(--dark-color);
    display: block;
    font-size: 2em;
    height: 60px;
    padding: 15px;
    width: auto;
    text-decoration: none;
    color: var(--ligth-color);
}

.header-btn a:before {
    left: 18px;
    position: absolute;
    top: 18px;
    background: var(--exalted-color);
}


.header-btn a:hover,
.header-btn.current a {
    text-decoration: none;
    background: var(--exalted-color);
    color: var(--dark-color);

}

.central-fr {
    margin: 15%;
}

.central-fr-up {
    margin: 0 15% 0 15%;
}

.central-body {

    background-color: var(--ligth-color);
    resize: horizontal;
    margin: 2vmax;
    text-align: center;

}

.log-Div {
    position: relative;
}

.login {
    width: 20ch;
    font-size: 1em;
    margin: 40vh auto 0;
    transform: translateY(-50%);

}

.footer {
    background-color: var(--ligth-color);
    position: fixed;
    max-height: 3.5vmin;
    text-align: center;
    font-size: 3vmin;
    bottom: 0;
    left: 1vmin;
    right: 1vmin;
}

.tabla {
    margin: 0;
}

.table-list {
    border: 2px solid var(--darkest-color);
    background-color: var(--main-bg-ligth);
    font-size: 1.5vmax;
    border-radius: 5px;
}

.errorText {
    text-transform: uppercase;
    color: var(--error-color);
    font-size: .75em;
    font-weight: bold;

}

.form-add {
    font-size: 1em;
}

.form-edit {
    font-size: 1em;
}

.add {
    background-color: var(--btn-add-color);
}

.edit {
    background-color: var(--btn-edit-color);
}

.delete {
    background-color: var(--btn-delete-color);
}

.suspend {
    background-color: var(--btn-delete-color);
}

.activate {
    background-color: var(--btn-add-color);
}

#username {
    width: 20em;
}

#password {
    width: 20em;
}

#fullname {
    width: 30em;
}

#rfc {
    width: 10em;
}

#mail {
    width: 10em;
}

#addresslocal {
    width: 30em;
}

#addressref {
    width: 30em;
}

#phone {
    width: 15em;
}

#ziplist {
    width: 30em;
}

#branch {
    width: 10em;
}

#branchlist {
    width: 30em;
}

#companytypelist {
    width: 10em;
}

#productdetail {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70vmax;
    height: 10vmax;
    resize: vertical;
    margin: 3px;
}

.loadimage::-webkit-file-upload-button {
    display: inline-block;
    border: 1px solid;
    border-radius: 6px;
    margin: 4px 4px;
    background-color: var(--btn-edit-color);
    outline: #111111;
    cursor: pointer;
    font-size: 1em;
}

