:root {
    /*variables de color del tema*/
    --main-bg-color: #49838c;
    --btn-add-color: #aacc60;
    --btn-edit-color: #a8bc90;
    --btn-delete-color: #cb4d4d;
    --main-bg-ligth: #87aed9;
    --title-color: #28626b;
    --exalted-color: #aacc60;
    --exalted-gradient-color: #a8bc90;
    --striking-color: #fdb62f;
    --striking-alt-color: #1f6f6f;
    --dark-color: #2a414e;
    --ligth-color: #b9bfcc;
    --darkest-color: #111;
    --error-color: #cb4d4d;

}

html {
    background: url("../img/container.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit ;
}

body {
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 90vm;
}

header {
    background-color: var(--dark-color);
    flex: 0 0 auto;

}

nav {
    margin: 2vmin auto 0;
    position: relative;
    width: auto;
    height: auto;
    background-color: #34495e;
    border-radius: 8px;
}

nav a {
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2vmin;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav a:hover {
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
    background-color: var(--striking-alt-color);
}

footer{
    background-color: var(--dark-color);
    text-align: center;
    position: absolute;
    width: 98vw;
    height: min-content;
    font-size: 2vmin;
    margin-top: 45vmin;
}
hr{
    border: 1vmin solid var(--striking-alt-color);
}

.font-ligth {
    color: var(--ligth-color);
}

.font-dark {
    color: var(--dark-color);

}

.containerv {
    display: flex;
    flex-flow: row wrap;
}

.containerh {
    display: flex;
    flex-flow: column wrap;
}

.flex-item {
    padding: 3px;
    text-align: center;
}

.flex-item-rh {
    padding: 3px;
    text-align: center;
    justify-content: flex-end;
    flex-grow: 4;
}

.menu {
    justify-content: center;
}

.menu a {
    font-size: 5vmin;
    height: fit-content;
    padding: 1vmax;
    width: auto;
    text-decoration: none;
    color: var(--ligth-color);
}

.menu a:before {
    left: 18px;
    position: absolute;
    top: 18px;
    background: var(--exalted-color);
}

.menu a:hover,
.menu.current a {
    text-decoration: none;
    background: var(--exalted-color);
    color: var(--dark-color);
}

.menu a:hover,
.menu.current a {
    text-decoration: none;
    background: var(--exalted-color);
    color: var(--dark-color);
}

.container {
    position: relative;
    width: 100%;
    max-width: 90vmax;
    margin: 0 auto;
    padding: 0 1vmin;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.center-box {
    border-radius: 8px;
    width: auto;
    border: 2px solid var(--dark-color);
    text-align: center;
    background-color: var(--main-bg-ligth);
}
.center-box-pad
{
    border-radius: 8px;
    width: auto;
    border: 2px solid var(--dark-color);
    text-align: center;
    background-color: var(--exalted-gradient-color);
    margin: 1vmin;

}

.central-fr {
    margin: 1.5vm;
    border-radius: 6px;
    border: solid .2vmin;
}

.central-fr-up {
    margin: 0 15% 0 15%;
    border: solid .2vmin;
    border-radius: 6px;
}

.central-body {
    background-color: var(--ligth-color);
    resize: horizontal;
    margin: 3vmin;
    text-align: center;
}

.imgproduct{
    width: 45vmin;
    height: 45vmin;
    margin: 3vmin;
    float: left;
}
.imgstats{
    width: 45vmin;
    height: 45vmin;
    margin: 3vmin;
    float: bottom;
}

p {
    margin-top: 0;
}

a {
    color: var(--main-bg-ligth);
}

a:hover {
    color: var(--main-bg-ligth);
}

table {
   line-height: normal;
    width: 100%;
}

th {
    width: auto;
}

th, td {
    padding: 10px;
    border: 1px solid var(--darkest-color);
}

input {
    line-height: 1;
    letter-spacing: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"] {
    margin: 1%;
    padding: 5px;
    border: 1px solid var(--darkest-color);

}

input[type="time"] {
    width: 100px;
    margin-bottom: 0;
    display: inline-block;
}

input[type="checkbox"] {
    font-size: 3vmin;
    margin-top: 13px;
    margin-left: 2px;
    float: left;
}

input[type="checkbox"] + label {
    margin-top: 12px;
    margin-left: 7px;
    cursor: pointer;
    display: inline;
    float: left;
}

input[type="submit"] {
    font-size: 3vmin;
    outline: none;
    border: 1px solid var(--darkest-color);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--striking-color);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

input[type="submit"]:active {
    background-color: var(--exalted-gradient-color);

}

input:valid,
textarea:valid {
    color: var(--darkest-color);
}

input:invalid,
textarea:invalid {
    color: var(--error-color);
}
h1, h2, h3, h4, h5, h6, label, option {
    margin-top: 0;
    margin-bottom: 2vmin;
    font-weight: 300;
}

h1 {
    font-size: 6.0vmin;
    line-height: 1.2;
    letter-spacing: 0;
}

h2 {
    font-size: 5vmin;
    line-height: 1.25;
    letter-spacing: 0;
}

h3 {
    font-size: 4vmin;
    line-height: 1.3;
    letter-spacing: 0;
}

h4 {
    font-size: 3.5vmin;
    line-height: 1.35;
    letter-spacing: 0;
}

h5 {
    font-size: 3vmin;
    line-height: 1.5;
    letter-spacing: 0;
}

h6 {
    font-size: 2.5vmin;
    line-height: 1.6;
    letter-spacing: 0;
}

label {
    font-size: 3vmin;
    line-height: 1.35;
    letter-spacing: 0;
}

p {
    font-size: 3vmin;
    line-height: 1.35;
    letter-spacing: 0;
}

option {
    font-size: 3vmin;
    line-height: 1.35;
    letter-spacing: 0;
}
li{
    font-size: 3vmin;
    line-height: 1.35;
    letter-spacing: 0;
}

select {
    font-size: 3vmin;
    line-height: 1;
    letter-spacing: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
}

input {
    font-size: 3vmin;
    line-height: 1;
    letter-spacing: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
}

nav a {
    font-size: 3vmin;
    line-height: 1;
    letter-spacing: 0;
}
table.table-list td:before{
    font-size: 3vmin;
    line-height: 1;
    letter-spacing: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li {
    height: 7vmin;
}
nav li {
    display: inline-block;
}
nav li a {
    padding: 5px 10px;
    display: block;
    font-size: 1.6em;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
}
button{
    width: fit-content;
    height: fit-content;
}
.ulproduct {
    border: .2vmin solid var(--darkest-color);
    background: var(--main-bg-ligth);
    padding: 1vmin;
    text-align: left;
}
.findproduct{
    float: right;
}

.findproduct{
    height: 100%;
}

.findimg{
    height: 100%;
}



.form-Title {
    text-align: center;
    font-size: 6vmin;
}

.table-list {
    border: 2px solid var(--darkest-color);
    background-color: var(--main-bg-ligth);
    font-size: 3vmin;
    border-radius: 5px;
}

.add {
    background-color: var(--btn-add-color);
}

.edit {
    background-color: var(--btn-edit-color);
}

.delete {
    background-color: var(--btn-delete-color);
}

.suspend {
    background-color: var(--btn-delete-color);
}

.activate {
    background-color: var(--btn-add-color);
}

#username {
    width: 30vmin;
}

#password {
    width: 30vmin;
}

#fullname {
    width: 70vmin;
}

#rfc {
    width: 35vmin;
}

#mail {
    width: 40vmin;
}

#addresslocal {
    width: 90vmin;
}

#addressref {
    width: 30vmin;
}

#phone {
    width: 35vmin;
}

#ziplist {
    width: 80vmin;
}

#zip {
    width: 15vmin;
}

#branch {
    width: 40vmin;
}

#branchlist {
    width: 80vmin;
}

#companytypelist {
    width: 20vmin;
}

#productdetail {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    height: 50vmin;
    resize: initial;
    margin: 3px;

}
#loadimage{
    float: left;
     border: 3px solid var(--striking-alt-color);
}
#updateproduct{
    float: right;
    background-color: var(--btn-edit-color);
   }
.roundlogo{
    border-radius: 10%;
    height: 15vmin;
  }

img {
   width: initial;
}

@media (max-width: 400px) {

    #add-user{
        position: absolute;
         }
    #username {
        width: 20vmin;
    }

    #password {
        width: 20vmin;
    }


    table.table-list thead, th {
        border: none;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;

    }

    table.table-list tr {
        border-bottom: 3px solid;
    }

    table.table-list td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
        padding: 10px;
    }

    table.table-list td:before {
        float: left;
        color: #273b47;
        font-weight: bold;
        font-size: 1.5vmax;
        padding: 1px 5px;
    }

    table.table-list td:last-child {
        text-align: center;
    }


}

